In [34]:
from pringles.simulator import Simulator
mySimulator = Simulator(cdpp_bin_path='bin/', user_models_dir='src/')

In [35]:
atomics = dict([(atomic.__name__, atomic) for atomic in mySimulator.atomic_registry.discovered_atomics])
Server = atomics['Server']
Dispatcher = atomics['Dispatcher']
Attacker = atomics['Attacker']
ServerQueue = atomics['ServerQueue']

In [36]:
number_of_servers = 5


dispatcherDefaultConfig = {
    'numberOfServers': number_of_servers
}
for i in range(number_of_servers):
    dispatcherDefaultConfig['server' + str(i)] = 'free'


serverDefaultConfig = {
    'distribution': 'exponential',
    'mean': 0.001,
    'setupTime': '00:00:10:00'
}

serverOnDefaultConifg = {
    'initialStatus': 'free',
    **serverDefaultConfig
}

serverOffDefaultConifg = {
    'initialStatus': 'off',
    **serverDefaultConfig
}

serverQueueDefaultConfig = {
    'size': 1000,
    'currentSizeFrequency': '00:00:00:10'
}

attackerDefaultConfig = {
    'file': 'attack-data/diffsShort.txt'
}

In [37]:
from pringles.models.errors import PortNotFoundException

dispatcher = Dispatcher('dispatcher', **dispatcherDefaultConfig)
queue = ServerQueue('queue', **serverQueueDefaultConfig)
servers = {}
for i in range(number_of_servers):
    server_name = 'server' + str(i)
    servers[i] = Server(server_name, **serverOnDefaultConifg)
    try:
        dispatcher.get_port(server_name)
    except PortNotFoundException:
        dispatcher.add_outport(server_name)

attacker = Attacker('attacker', **attackerDefaultConfig)

In [38]:
print("--Dispatcher ports")
print("Inport names: ", [port.name for port in dispatcher.inports])
print("Outport names: ", [port.name for port in dispatcher.outports])

print("--Server ports--")
print("Inport names: ", [port.name for port in servers[0].inports])
print("Outport names: ", [port.name for port in servers[0].outports])

print("--ServerQueue ports--")
print("Inport names: ", [port.name for port in queue.inports])
print("Outport names: ", [port.name for port in queue.outports])

print("--Attacker ports--")
print("Inport names: ", [port.name for port in attacker.inports])
print("Outport names: ", [port.name for port in attacker.outports])

--Dispatcher ports
Inport names:  ['newJob', 'jobDone', 'serverStatus']
Outport names:  ['requestJob', 'server0', 'server1', 'server2', 'server3', 'server4']
--Server ports--
Inport names:  ['job', 'powerSignal']
Outport names:  ['done', 'ready']
--ServerQueue ports--
Inport names:  ['in', 'emit']
Outport names:  ['out', 'discarded', 'queueLoad', 'loadAvg']
--Attacker ports--
Inport names:  []
Outport names:  ['attack']

In [39]:
from pringles.models import Coupled

subcomponents = [dispatcher, queue, attacker] + list(servers.values())
    
top_model = Coupled(name='top', subcomponents=subcomponents)

# adding top inports
top_model.add_inport("serverStatus")
top_model.add_inport("queueLoad")
top_model.add_outport('discarded')
top_model.add_outport('jobDone')

# # adding serverStatus coupling to inport of dispatcher
top_model.add_coupling('serverStatus', dispatcher.get_port("serverStatus"))

# adding couplings between queue and dispatcher
top_model.add_coupling(queue.get_port("out"), dispatcher.get_port("newJob"))
top_model.add_coupling(dispatcher.get_port("requestJob"), queue.get_port("emit"))

# adding coupling between attacker and queue
top_model.add_coupling(attacker.get_port('attack'), queue.get_port('in'))
                                                                   
# adding couplings between dispatcher and servers
for i in range(number_of_servers):
    server_name = 'server' + str(i)
    top_model.add_coupling(dispatcher.get_port(server_name), servers[i].get_port('job'))
    top_model.add_coupling(servers[i].get_port('done'), dispatcher.get_port('jobDone'))
    top_model.add_coupling(servers[i].get_port('done'), 'jobDone')

# adding coupling between queue discarded port and top
top_model.add_coupling(queue.get_port('discarded'), 'discarded')

top_model

In [40]:
from pringles.simulator import Simulation, Event
from pringles.utils import VirtualTime

a_simulation = Simulation(top_model = top_model, 
                          duration = VirtualTime.of_minutes(10),
                          working_dir='sim_results/queue-server-dispatcher-attacker'
                         )

results = mySimulator.run_simulation(a_simulation)

In [41]:
print(results.get_process_output())

PCD++: A Tool to Implement n-Dimensional Cell-DEVS models
Version 3.0 - March 2003
Troccoli A., Rodriguez D., Wainer G., Barylko A., Beyoglonian J., Lopez A.
-----------------------------------------------------------------------------
PCD++ Extended States: An extended and improved version of CD++ for Cell-DEVS
Version 4.1.2 - December 2018
Santi L., Castro, R., Pimás, J.
-----------------------------------------------------------------------------
Discrete Event Simulation Lab
Departamento de Computación
Facultad de Ciencias Exactas y Naturales
Universidad de Buenos Aires, Argentina
-----------------------------------------------------------------------------
Compiled for standalone simulation


Loading models from sim_results/queue-server-dispatcher-attacker/2019-11-16-204236-f602aafad3d34ee9b89f2ed444d1156d/top_model
Loading events from
Running parallel simulation. Reading models partition from
Model partition details output to: /dev/null*
Message log: sim_results/queue-server-dispatcher-attacker/2019-11-16-204236-f602aafad3d34ee9b89f2ed444d1156d/logs
Output to: sim_results/queue-server-dispatcher-attacker/2019-11-16-204236-f602aafad3d34ee9b89f2ed444d1156d/output
Tolerance set to: 1e-08
Configuration to show real numbers: Width = 12 - Precision = 5
Quantum: Not used
Evaluate Debug Mode = OFF
Flat Cell Debug Mode = OFF
Debug Cell Rules Mode = OFF
Temporary File created by Preprocessor = /var/tmp/tmp.0.eAwP7q
Printing parser information = OFF

Stop at time: 00:10:00:000:0
[QUEUE]ServerQueue atomic succesfully created
LP 0: initializing simulation objects
LP 0: starting simulation (NoTime).
[QUEUE]Initializing ServerQueue
[QUEUE]ServerQueue atomic initialized
Simulation complete!
Simulation ended!
LP 0 has finished simulation

In [42]:
# print(results.get_process_error_output())

In [43]:
display(results.output_df.head(100))

            time     port  value
0   00:00:00:000  jobdone    3.0
1   00:00:00:000  jobdone    5.0
2   00:00:00:000  jobdone    0.0
3   00:00:00:000  jobdone    7.0
4   00:00:00:000  jobdone    8.0
5   00:00:00:000  jobdone    6.0
6   00:00:00:001  jobdone   10.0
7   00:00:00:001  jobdone    2.0
8   00:00:00:001  jobdone    1.0
9   00:00:00:001  jobdone   11.0
10  00:00:00:002  jobdone    4.0
11  00:00:00:002  jobdone    9.0
12  00:00:00:002  jobdone   14.0
13  00:00:00:002  jobdone   17.0
14  00:00:00:003  jobdone   18.0
15  00:00:00:003  jobdone   12.0
16  00:00:00:003  jobdone   19.0
17  00:00:00:003  jobdone   20.0
18  00:00:00:003  jobdone   16.0
19  00:00:00:004  jobdone   13.0
20  00:00:00:004  jobdone   23.0
21  00:00:00:004  jobdone   22.0
22  00:00:00:005  jobdone   21.0
23  00:00:00:005  jobdone   26.0
24  00:00:00:005  jobdone   27.0
25  00:00:00:005  jobdone   28.0
26  00:00:00:006  jobdone   24.0
27  00:00:00:006  jobdone   29.0
28  00:00:00:007  jobdone   32.0
29  00:00:00:007  jobdone   30.0
..           ...      ...    ...
70  00:00:00:017  jobdone   69.0
71  00:00:00:018  jobdone   74.0
72  00:00:00:018  jobdone   60.0
73  00:00:00:018  jobdone   77.0
74  00:00:00:018  jobdone   65.0
75  00:00:00:018  jobdone   79.0
76  00:00:00:018  jobdone   78.0
77  00:00:00:018  jobdone   75.0
78  00:00:00:019  jobdone   82.0
79  00:00:00:019  jobdone   81.0
80  00:00:00:020  jobdone   83.0
81  00:00:00:020  jobdone   73.0
82  00:00:00:020  jobdone   86.0
83  00:00:00:020  jobdone   80.0
84  00:00:00:020  jobdone   87.0
85  00:00:00:020  jobdone   89.0
86  00:00:00:020  jobdone   76.0
87  00:00:00:021  jobdone   91.0
88  00:00:00:021  jobdone   90.0
89  00:00:00:021  jobdone   85.0
90  00:00:00:021  jobdone   84.0
91  00:00:00:021  jobdone   88.0
92  00:00:00:022  jobdone   95.0
93  00:00:00:022  jobdone   93.0
94  00:00:00:022  jobdone   92.0
95  00:00:00:022  jobdone   97.0
96  00:00:00:022  jobdone   98.0
97  00:00:00:023  jobdone   96.0
98  00:00:00:023  jobdone   99.0
99  00:00:00:023  jobdone   94.0

[100 rows x 3 columns]

In [44]:
print(results.logs_dfs.keys(),'\n\n')
display(results.logs_dfs['ParallelRoot'].head())

dict_keys(['server4', 'server3', 'server2', 'server1', 'server0', 'attacker', 'queue', 'dispatcher', 'top', 'ParallelRoot'])

,0,1,message_type,time,model_origin,port,value,model_dest
0,0,L,Y,00:00:00:000,top(09),jobdone,3.0,ParallelRoot(00)
1,0,L,Y,00:00:00:000,top(09),jobdone,5.0,ParallelRoot(00)
2,0,L,Y,00:00:00:000,top(09),jobdone,0.0,ParallelRoot(00)
3,0,L,Y,00:00:00:000,top(09),jobdone,7.0,ParallelRoot(00)
4,0,L,Y,00:00:00:000,top(09),jobdone,8.0,ParallelRoot(00)

In [45]:
# Veamos que le llegan al server 0 los primneros 2 jobs, hasta que lo apagan en segundo 40
display(results.logs_dfs['server0'])

      0  1 message_type          time model_origin port   value   model_dest
0     0  L            X  00:00:00:000      top(09)  job     0.0  server0(04)
1     0  L            X  00:00:00:000      top(09)  job     7.0  server0(04)
2     0  L            X  00:00:00:000      top(09)  job     8.0  server0(04)
3     0  L            X  00:00:00:000      top(09)  job     9.0  server0(04)
4     0  L            X  00:00:00:002      top(09)  job    16.0  server0(04)
5     0  L            X  00:00:00:003      top(09)  job    23.0  server0(04)
6     0  L            X  00:00:00:004      top(09)  job    25.0  server0(04)
7     0  L            X  00:00:00:007      top(09)  job    35.0  server0(04)
8     0  L            X  00:00:00:011      top(09)  job    43.0  server0(04)
9     0  L            X  00:00:00:011      top(09)  job    44.0  server0(04)
10    0  L            X  00:00:00:013      top(09)  job    52.0  server0(04)
11    0  L            X  00:00:00:014      top(09)  job    54.0  server0(04)
12    0  L            X  00:00:00:015      top(09)  job    59.0  server0(04)
13    0  L            X  00:00:00:015      top(09)  job    61.0  server0(04)
14    0  L            X  00:00:00:017      top(09)  job    70.0  server0(04)
15    0  L            X  00:00:00:017      top(09)  job    72.0  server0(04)
16    0  L            X  00:00:00:017      top(09)  job    73.0  server0(04)
17    0  L            X  00:00:00:020      top(09)  job    86.0  server0(04)
18    0  L            X  00:00:00:020      top(09)  job    87.0  server0(04)
19    0  L            X  00:00:00:020      top(09)  job    89.0  server0(04)
20    0  L            X  00:00:00:020      top(09)  job    90.0  server0(04)
21    0  L            X  00:00:00:021      top(09)  job    93.0  server0(04)
22    0  L            X  00:00:00:022      top(09)  job    98.0  server0(04)
23    0  L            X  00:00:00:022      top(09)  job   101.0  server0(04)
24    0  L            X  00:00:00:023      top(09)  job   106.0  server0(04)
25    0  L            X  00:00:00:023      top(09)  job   108.0  server0(04)
26    0  L            X  00:00:00:023      top(09)  job   110.0  server0(04)
27    0  L            X  00:00:00:025      top(09)  job   122.0  server0(04)
28    0  L            X  00:00:00:025      top(09)  job   124.0  server0(04)
29    0  L            X  00:00:00:027      top(09)  job   132.0  server0(04)
...  .. ..          ...           ...          ...  ...     ...          ...
2093  0  L            X  00:00:04:763      top(09)  job  9570.0  server0(04)
2094  0  L            X  00:00:04:764      top(09)  job  9573.0  server0(04)
2095  0  L            X  00:00:04:764      top(09)  job  9575.0  server0(04)
2096  0  L            X  00:00:04:766      top(09)  job  9581.0  server0(04)
2097  0  L            X  00:00:04:767      top(09)  job  9587.0  server0(04)
2098  0  L            X  00:00:04:768      top(09)  job  9592.0  server0(04)
2099  0  L            X  00:00:04:769      top(09)  job  9597.0  server0(04)
2100  0  L            X  00:00:04:770      top(09)  job  9599.0  server0(04)
2101  0  L            X  00:00:04:770      top(09)  job  9601.0  server0(04)
2102  0  L            X  00:00:04:772      top(09)  job  9608.0  server0(04)
2103  0  L            X  00:00:04:774      top(09)  job  9611.0  server0(04)
2104  0  L            X  00:00:04:786      top(09)  job  9615.0  server0(04)
2105  0  L            X  00:00:04:786      top(09)  job  9616.0  server0(04)
2106  0  L            X  00:00:04:787      top(09)  job  9622.0  server0(04)
2107  0  L            X  00:00:04:788      top(09)  job  9626.0  server0(04)
2108  0  L            X  00:00:04:788      top(09)  job  9627.0  server0(04)
2109  0  L            X  00:00:04:788      top(09)  job  9629.0  server0(04)
2110  0  L            X  00:00:04:788      top(09)  job  9631.0  server0(04)
2111  0  L            X  00:00:04:790      top(09)  job  9635.0  server0(04)
2112  0  L            X  00:00:04:795      top(09)  job  9647.0  server0(04)
2113  0  L            X  00:00:04:796      top(09)  job  9654.0  server0(04)
2114  0  L            X  00:00:04:797      top(09)  job  9657.0  server0(04)
2115  0  L            X  00:00:04:797      top(09)  job  9659.0  server0(04)
2116  0  L            X  00:00:04:808      top(09)  job  9660.0  server0(04)
2117  0  L            X  00:00:04:808      top(09)  job  9661.0  server0(04)
2118  0  L            X  00:00:04:808      top(09)  job  9668.0  server0(04)
2119  0  L            X  00:00:04:809      top(09)  job  9671.0  server0(04)
2120  0  L            X  00:00:04:809      top(09)  job  9673.0  server0(04)
2121  0  L            X  00:00:04:811      top(09)  job  9674.0  server0(04)
2122  0  L            X  00:00:04:813      top(09)  job  9675.0  server0(04)

[2123 rows x 8 columns]

In [46]:
# Veamos que el siguiente job le llega al server 1 en el segundo 42, y luego lo apagan en el segundo 43
# Y se espera a que termine para apagarlo
display(results.logs_dfs['server1'])

      0  1 message_type          time model_origin port   value   model_dest
0     0  L            X  00:00:00:000      top(09)  job     1.0  server1(05)
1     0  L            X  00:00:00:001      top(09)  job    13.0  server1(05)
2     0  L            X  00:00:00:004      top(09)  job    24.0  server1(05)
3     0  L            X  00:00:00:006      top(09)  job    31.0  server1(05)
4     0  L            X  00:00:00:007      top(09)  job    36.0  server1(05)
5     0  L            X  00:00:00:010      top(09)  job    41.0  server1(05)
6     0  L            X  00:00:00:011      top(09)  job    46.0  server1(05)
7     0  L            X  00:00:00:011      top(09)  job    48.0  server1(05)
8     0  L            X  00:00:00:012      top(09)  job    50.0  server1(05)
9     0  L            X  00:00:00:012      top(09)  job    51.0  server1(05)
10    0  L            X  00:00:00:013      top(09)  job    53.0  server1(05)
11    0  L            X  00:00:00:015      top(09)  job    58.0  server1(05)
12    0  L            X  00:00:00:016      top(09)  job    66.0  server1(05)
13    0  L            X  00:00:00:016      top(09)  job    68.0  server1(05)
14    0  L            X  00:00:00:017      top(09)  job    71.0  server1(05)
15    0  L            X  00:00:00:017      top(09)  job    74.0  server1(05)
16    0  L            X  00:00:00:018      top(09)  job    76.0  server1(05)
17    0  L            X  00:00:00:020      top(09)  job    91.0  server1(05)
18    0  L            X  00:00:00:021      top(09)  job    92.0  server1(05)
19    0  L            X  00:00:00:022      top(09)  job    99.0  server1(05)
20    0  L            X  00:00:00:023      top(09)  job   103.0  server1(05)
21    0  L            X  00:00:00:024      top(09)  job   113.0  server1(05)
22    0  L            X  00:00:00:024      top(09)  job   118.0  server1(05)
23    0  L            X  00:00:00:030      top(09)  job   147.0  server1(05)
24    0  L            X  00:00:00:031      top(09)  job   154.0  server1(05)
25    0  L            X  00:00:00:032      top(09)  job   163.0  server1(05)
26    0  L            X  00:00:00:034      top(09)  job   170.0  server1(05)
27    0  L            X  00:00:00:034      top(09)  job   171.0  server1(05)
28    0  L            X  00:00:00:034      top(09)  job   173.0  server1(05)
29    0  L            X  00:00:00:035      top(09)  job   179.0  server1(05)
...  .. ..          ...           ...          ...  ...     ...          ...
2016  0  L            X  00:00:04:746      top(09)  job  9539.0  server1(05)
2017  0  L            X  00:00:04:746      top(09)  job  9541.0  server1(05)
2018  0  L            X  00:00:04:746      top(09)  job  9542.0  server1(05)
2019  0  L            X  00:00:04:751      top(09)  job  9544.0  server1(05)
2020  0  L            X  00:00:04:762      top(09)  job  9563.0  server1(05)
2021  0  L            X  00:00:04:764      top(09)  job  9574.0  server1(05)
2022  0  L            X  00:00:04:765      top(09)  job  9576.0  server1(05)
2023  0  L            X  00:00:04:766      top(09)  job  9578.0  server1(05)
2024  0  L            X  00:00:04:766      top(09)  job  9580.0  server1(05)
2025  0  L            X  00:00:04:767      top(09)  job  9585.0  server1(05)
2026  0  L            X  00:00:04:767      top(09)  job  9588.0  server1(05)
2027  0  L            X  00:00:04:768      top(09)  job  9591.0  server1(05)
2028  0  L            X  00:00:04:769      top(09)  job  9595.0  server1(05)
2029  0  L            X  00:00:04:771      top(09)  job  9606.0  server1(05)
2030  0  L            X  00:00:04:774      top(09)  job  9610.0  server1(05)
2031  0  L            X  00:00:04:786      top(09)  job  9617.0  server1(05)
2032  0  L            X  00:00:04:786      top(09)  job  9620.0  server1(05)
2033  0  L            X  00:00:04:787      top(09)  job  9624.0  server1(05)
2034  0  L            X  00:00:04:788      top(09)  job  9625.0  server1(05)
2035  0  L            X  00:00:04:789      top(09)  job  9633.0  server1(05)
2036  0  L            X  00:00:04:789      top(09)  job  9634.0  server1(05)
2037  0  L            X  00:00:04:790      top(09)  job  9636.0  server1(05)
2038  0  L            X  00:00:04:790      top(09)  job  9639.0  server1(05)
2039  0  L            X  00:00:04:790      top(09)  job  9640.0  server1(05)
2040  0  L            X  00:00:04:792      top(09)  job  9645.0  server1(05)
2041  0  L            X  00:00:04:795      top(09)  job  9648.0  server1(05)
2042  0  L            X  00:00:04:808      top(09)  job  9662.0  server1(05)
2043  0  L            X  00:00:04:808      top(09)  job  9667.0  server1(05)
2044  0  L            X  00:00:04:809      top(09)  job  9672.0  server1(05)
2045  0  L            X  00:00:04:813      top(09)  job  9676.0  server1(05)

[2046 rows x 8 columns]

In [47]:
# Por último cuando el 0 y el 1 están apagados, cuando llega el último job en el segundo 44, se lo envía al server 2
# que lo termina (ver logs dispatcher)
display(results.logs_dfs['server2'])

      0  1 message_type          time model_origin port   value   model_dest
0     0  L            X  00:00:00:000      top(09)  job     2.0  server2(06)
1     0  L            X  00:00:00:001      top(09)  job    12.0  server2(06)
2     0  L            X  00:00:00:003      top(09)  job    20.0  server2(06)
3     0  L            X  00:00:00:003      top(09)  job    22.0  server2(06)
4     0  L            X  00:00:00:004      top(09)  job    26.0  server2(06)
5     0  L            X  00:00:00:005      top(09)  job    28.0  server2(06)
6     0  L            X  00:00:00:005      top(09)  job    30.0  server2(06)
7     0  L            X  00:00:00:007      top(09)  job    34.0  server2(06)
8     0  L            X  00:00:00:008      top(09)  job    39.0  server2(06)
9     0  L            X  00:00:00:011      top(09)  job    49.0  server2(06)
10    0  L            X  00:00:00:014      top(09)  job    55.0  server2(06)
11    0  L            X  00:00:00:014      top(09)  job    57.0  server2(06)
12    0  L            X  00:00:00:016      top(09)  job    63.0  server2(06)
13    0  L            X  00:00:00:016      top(09)  job    67.0  server2(06)
14    0  L            X  00:00:00:016      top(09)  job    69.0  server2(06)
15    0  L            X  00:00:00:017      top(09)  job    75.0  server2(06)
16    0  L            X  00:00:00:018      top(09)  job    82.0  server2(06)
17    0  L            X  00:00:00:019      top(09)  job    83.0  server2(06)
18    0  L            X  00:00:00:020      top(09)  job    85.0  server2(06)
19    0  L            X  00:00:00:021      top(09)  job    94.0  server2(06)
20    0  L            X  00:00:00:023      top(09)  job   104.0  server2(06)
21    0  L            X  00:00:00:023      top(09)  job   105.0  server2(06)
22    0  L            X  00:00:00:023      top(09)  job   109.0  server2(06)
23    0  L            X  00:00:00:024      top(09)  job   112.0  server2(06)
24    0  L            X  00:00:00:024      top(09)  job   114.0  server2(06)
25    0  L            X  00:00:00:024      top(09)  job   115.0  server2(06)
26    0  L            X  00:00:00:025      top(09)  job   121.0  server2(06)
27    0  L            X  00:00:00:025      top(09)  job   123.0  server2(06)
28    0  L            X  00:00:00:025      top(09)  job   125.0  server2(06)
29    0  L            X  00:00:00:026      top(09)  job   127.0  server2(06)
...  .. ..          ...           ...          ...  ...     ...          ...
1926  0  L            X  00:00:04:719      top(09)  job  9495.0  server2(06)
1927  0  L            X  00:00:04:719      top(09)  job  9498.0  server2(06)
1928  0  L            X  00:00:04:720      top(09)  job  9502.0  server2(06)
1929  0  L            X  00:00:04:725      top(09)  job  9505.0  server2(06)
1930  0  L            X  00:00:04:731      top(09)  job  9521.0  server2(06)
1931  0  L            X  00:00:04:745      top(09)  job  9530.0  server2(06)
1932  0  L            X  00:00:04:751      top(09)  job  9545.0  server2(06)
1933  0  L            X  00:00:04:753      top(09)  job  9550.0  server2(06)
1934  0  L            X  00:00:04:755      top(09)  job  9554.0  server2(06)
1935  0  L            X  00:00:04:756      top(09)  job  9558.0  server2(06)
1936  0  L            X  00:00:04:762      top(09)  job  9564.0  server2(06)
1937  0  L            X  00:00:04:762      top(09)  job  9567.0  server2(06)
1938  0  L            X  00:00:04:764      top(09)  job  9571.0  server2(06)
1939  0  L            X  00:00:04:764      top(09)  job  9572.0  server2(06)
1940  0  L            X  00:00:04:765      top(09)  job  9577.0  server2(06)
1941  0  L            X  00:00:04:767      top(09)  job  9583.0  server2(06)
1942  0  L            X  00:00:04:767      top(09)  job  9584.0  server2(06)
1943  0  L            X  00:00:04:767      top(09)  job  9586.0  server2(06)
1944  0  L            X  00:00:04:767      top(09)  job  9589.0  server2(06)
1945  0  L            X  00:00:04:768      top(09)  job  9594.0  server2(06)
1946  0  L            X  00:00:04:771      top(09)  job  9604.0  server2(06)
1947  0  L            X  00:00:04:771      top(09)  job  9605.0  server2(06)
1948  0  L            X  00:00:04:772      top(09)  job  9609.0  server2(06)
1949  0  L            X  00:00:04:774      top(09)  job  9612.0  server2(06)
1950  0  L            X  00:00:04:786      top(09)  job  9618.0  server2(06)
1951  0  L            X  00:00:04:788      top(09)  job  9630.0  server2(06)
1952  0  L            X  00:00:04:790      top(09)  job  9637.0  server2(06)
1953  0  L            X  00:00:04:791      top(09)  job  9641.0  server2(06)
1954  0  L            X  00:00:04:795      top(09)  job  9649.0  server2(06)
1955  0  L            X  00:00:04:808      top(09)  job  9663.0  server2(06)

[1956 rows x 8 columns]

In [48]:
display(results.logs_dfs['dispatcher'])

,0,1,message_type,time,model_origin,port,value,model_dest
0,0,L,X,00:00:00:000,top(09),newjob,1.0,dispatcher(01)
1,0,L,X,00:00:00:000,top(09),newjob,1.0,dispatcher(01)
2,0,L,X,00:00:00:000,top(09),newjob,1.0,dispatcher(01)
3,0,L,X,00:00:00:000,top(09),newjob,1.0,dispatcher(01)
4,0,L,X,00:00:00:000,top(09),newjob,1.0,dispatcher(01)
5,0,L,X,00:00:00:000,top(09),jobdone,3.0,dispatcher(01)
6,0,L,X,00:00:00:000,top(09),newjob,1.0,dispatcher(01)
7,0,L,X,00:00:00:000,top(09),jobdone,5.0,dispatcher(01)
8,0,L,X,00:00:00:000,top(09),newjob,1.0,dispatcher(01)
9,0,L,X,00:00:00:000,top(09),jobdone,0.0,dispatcher(01)
10,0,L,X,00:00:00:000,top(09),newjob,1.0,dispatcher(01)
11,0,L,X,00:00:00:000,top(09),jobdone,7.0,dispatcher(01)
12,0,L,X,00:00:00:000,top(09),newjob,1.0,dispatcher(01)
13,0,L,X,00:00:00:000,top(09),jobdone,8.0,dispatcher(01)
14,0,L,X,00:00:00:000,top(09),newjob,1.0,dispatcher(01)
15,0,L,X,00:00:00:000,top(09),jobdone,6.0,dispatcher(01)
16,0,L,X,00:00:00:000,top(09),newjob,1.0,dispatcher(01)
17,0,L,X,00:00:00:001,top(09),jobdone,10.0,dispatcher(01)
18,0,L,X,00:00:00:001,top(09),newjob,1.0,dispatcher(01)
19,0,L,X,00:00:00:001,top(09),jobdone,2.0,dispatcher(01)
20,0,L,X,00:00:00:001,top(09),newjob,1.0,dispatcher(01)
21,0,L,X,00:00:00:001,top(09),jobdone,1.0,dispatcher(01)
22,0,L,X,00:00:00:001,top(09),newjob,1.0,dispatcher(01)
23,0,L,X,00:00:00:001,top(09),jobdone,11.0,dispatcher(01)
24,0,L,X,00:00:00:001,top(09),newjob,1.0,dispatcher(01)
25,0,L,X,00:00:00:002,top(09),jobdone,4.0,dispatcher(01)
26,0,L,X,00:00:00:002,top(09),newjob,1.0,dispatcher(01)
27,0,L,X,00:00:00:002,top(09),jobdone,9.0,dispatcher(01)
28,0,L,X,00:00:00:002,top(09),newjob,1.0,dispatcher(01)
29,0,L,X,00:00:00:002,top(09),jobdone,14.0,dispatcher(01)
...,...,...,...,...,...,...,...,...
19324,0,L,X,00:00:04:808,top(09),newjob,1.0,dispatcher(01)
19325,0,L,X,00:00:04:808,top(09),newjob,1.0,dispatcher(01)
19326,0,L,X,00:00:04:808,top(09),newjob,1.0,dispatcher(01)
19327,0,L,X,00:00:04:808,top(09),jobdone,9665.0,dispatcher(01)
19328,0,L,X,00:00:04:808,top(09),newjob,1.0,dispatcher(01)
19329,0,L,X,00:00:04:808,top(09),jobdone,9662.0,dispatcher(01)
19330,0,L,X,00:00:04:808,top(09),newjob,1.0,dispatcher(01)
19331,0,L,X,00:00:04:808,top(09),jobdone,9661.0,dispatcher(01)
19332,0,L,X,00:00:04:808,top(09),newjob,1.0,dispatcher(01)
19333,0,L,X,00:00:04:808,top(09),jobdone,9664.0,dispatcher(01)
19334,0,L,X,00:00:04:808,top(09),newjob,1.0,dispatcher(01)
19335,0,L,X,00:00:04:809,top(09),jobdone,9669.0,dispatcher(01)
19336,0,L,X,00:00:04:809,top(09),newjob,1.0,dispatcher(01)
19337,0,L,X,00:00:04:809,top(09),jobdone,9668.0,dispatcher(01)
19338,0,L,X,00:00:04:809,top(09),newjob,1.0,dispatcher(01)
19339,0,L,X,00:00:04:809,top(09),jobdone,9667.0,dispatcher(01)
19340,0,L,X,00:00:04:809,top(09),newjob,1.0,dispatcher(01)
19341,0,L,X,00:00:04:809,top(09),jobdone,9671.0,dispatcher(01)
19342,0,L,X,00:00:04:809,top(09),newjob,1.0,dispatcher(01)
19343,0,L,X,00:00:04:809,top(09),jobdone,9666.0,dispatcher(01)
19344,0,L,X,00:00:04:810,top(09),jobdone,9673.0,dispatcher(01)
19345,0,L,X,00:00:04:810,top(09),jobdone,9663.0,dispatcher(01)
19346,0,L,X,00:00:04:811,top(09),newjob,1.0,dispatcher(01)
19347,0,L,X,00:00:04:811,top(09),jobdone,9670.0,dispatcher(01)
19348,0,L,X,00:00:04:811,top(09),jobdone,9674.0,dispatcher(01)
19349,0,L,X,00:00:04:811,top(09),jobdone,9672.0,dispatcher(01)
19350,0,L,X,00:00:04:813,top(09),newjob,1.0,dispatcher(01)
19351,0,L,X,00:00:04:813,top(09),newjob,1.0,dispatcher(01)
19352,0,L,X,00:00:04:813,top(09),jobdone,9675.0,dispatcher(01)
19353,0,L,X,00:00:04:814,top(09),jobdone,9676.0,dispatcher(01)